extends ./main

block content 
    div.container
        table.table.table-bordered
            thead
                tr
                    th Nome 
                    th CNPJ 
                    th Telefone 
                    th E-mail 
                    th Contato 
                    th Ações 
            tbody 
                tr
                    td Client Name 
                    td 31419836489173
                    td 81982887382
                    td client@client.com
                    td Her 
                    td 
                        button.btn.btn-success(type="button") Editar
                        button.btn.btn-danger(type="button") Deletar
                
                tr
                    td Client Name 2
                    td 3141983999993
                    td 8198752836
                    td client2@client2.com
                    td Herman 
                    td 
                        button.btn.btn-success(type="button") Editar
                        button.btn.btn-danger(type="button") Deletar